body{
    font-family: 'Neucha', cursive;
    margin: 0; 
    text-align:center;
    background-image: url(./12143159896457.jpg); 
    background-position: top; 
    background-repeat: no-repeat; 
}

div{
    margin-top: 60px;
}


select{
    padding:1%; 
}

.container{
    border:none; 
    padding:40px;
 
}
label{
    background-color: antiquewhite; 
}